@font-face {
    font-family: "Bakbak One",sans-serif;;
    src: url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
}

@font-face {
    font-family: "Quicksand", sans-serif;
    ;
 src: url('https: //fonts.googleapis.com/css2?family=Bakbak+One&family=Quicksand: wght@300..700&display=swap');
}
